@model IEnumerable<Car_Invetory_Project.Models.cars_master>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Session["userId"] != null)

{
    <button class="btn btn-primary" id="createCarModalBtn">Add Car</button>

}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.car_brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.car_model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isNew)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_at)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.car_brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.car_model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updated_at)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id ,@class="carEditBtn"}) 
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
